.grid-container{
    display: grid;
}

div.lorumkep{
    padding: 70px;
    border: 1px solid black;
    margin: auto;
}
img.lorumkep{
    width: 450px;
}

.adatlista{
    list-style: none;
    margin-top: 10px;
}