<div class="flex-container one-column magas">
    <div class="arckep flex-container szeles">
        <div class="lorumkep margin-auto">
            <img id="" class="lorumkep" src="resources/images/lorumipse.jpg" alt="Kép Lórum Ipséről">
            <ul class="adatlista" id="">
                <li>Lórum Ipse</li>
                <li>6245 Kukutyin, Petőfi utca 96.</li>
                <li>+36 30 7654321</li>
                <li>nincs@nemislesz.na</li>
            </ul>
        </div>
    </div>
    <!--
    <div class="adatlista flex-container szeles margin-auto"></div>
    -->
    
</div>